.button {
    background-color:  #2e5637;
    color: white;
    border-radius: 20px;
    padding: 3px 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .button:hover {
    background-color:#223E27; /* Darker shade on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
  }
  