.form-container {
    margin: 0 auto;

  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group-row {
    display: flex;
    gap: 20px;
  }
  
  input, textarea {
    width: 100%;
    padding: 7px 10px 7px 10px;  
    border: 1px solid #dad9d9; /* Always apply the stroke color */
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    
  
  }
  
  .input-field {
    flex: 1;
  }
  
  .submit-button {
    padding: 10px 20px;
    border: none;
    background-color: #498052;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .submit-button:hover {
    background-color: #36643f;
  }
  