

  .footerHead {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color:#1E3722;
  }
  .footerText {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    color:#1E3722;
  
    text-decoration: none;
  }
  .footerText:hover {
    text-decoration: underline;
  }