#textBox{
    width: 50%;
    padding: 20px;
    text-align: center;
    position: absolute; 
    top: 20%; 
    left: 50%; 
    transform: translateX(-50%); 
}
.Textparallax{
    color:white;
    font-weight: 500;
    
}
#Heading{
    font-size: 45px;
    padding: 0px 10px 0 10px; 

}
#description{
    /* padding-top:16px; */
    padding: 16px 40px 0 40px; 
    color: white;
}